body {
    display: flex;
    flex-direction: column;
}

.storage {
    border: 2px solid black;
}

#library-container {
    
    min-height: 22px;
    max-height: auto;
}

#lower-container {
    height: 4rem;
}

 
#book-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(173, 250, 229);
}

#remove-button {
    display: flex;
    justify-self: flex-end;
}

#read-status {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
}

#add {
    font-size: 18px;
    color: rgb(244, 148, 84);
    background-color: white;

}
